/node_modules/
/dist/
/.git/
/app/css/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store

# IDE and OS
.idea
.mc
.settings
.subversion
.buildpath
.classpath
.cproject
.loadpath
.metadata
.pmt
.project
$RECYCLE.BIN
.DS_Store
Desktop.ini
ehthumbs.db
Thumbs.db
node_modules
npm-debug.log

