@import "../sass/vars.sass";
    
.card
    background-color: #F7F7F7
    border-radius: 20px

    align-content: space-between

    &_favorite-one
        grid-column: 1
        grid-row: 1

    &_favorite-two
        grid-column: 2
        grid-row: 1

    &_favorite-three
        grid-column: 3
        grid-row: 1

    &_favorite-foure
        grid-column: 1
        grid-row: 2

    &_favorite-five
        grid-column: 2
        grid-row: 2

