@import "../sass/vars.sass";
    
.text
    color: #000000

    font-family: $text-font
    font-weight: 400
    
    font-size: 14px

    &_cardTime
        color: $text-card-time

        font-size: 12px

    &_opacity
        font-size: 14px
        
        color: $text-card-time

    &_smallSize
        font-size: 13px

        font-family: $default-font
        font-weight: 800

        line-height: 15px
        letter-spacing: 0