@import "../sass/vars.sass";
    
.text
    color: $text

    font-family: $text-font
    font-weight: 400
    
    font-size: 14px

    &_card-time
        color: $text-card-time

        font-size: 12px

    &_opacity
        font-size: 14px
        
        color: $text-card-time