@import "../sass/vars.sass";
    
.heading
    display: grid

    grid-template-columns: [col1-leftBox] 630px [col2-rightBox] 630px
    grid-template-rows: auto
    grid-gap: 26px

    margin: 0 auto 19px auto

    justify-content: center

    //LEFT CONTENT
    &__left-box
        display: grid

        grid-column: col1-leftBox
        grid-template-columns: repeat(1, 1fr)
        grid-template-rows: 70px 330px

    &__title
        z-index: 20

        &_main
            display: grid

            grid-column: 1
            grid-row: 1

            justify-content: flex-start
            align-content: center

        &_inner
            display: grid

            grid-column: 1
            grid-row: 1

            justify-content: flex-start
            align-content: center

    //one enter
    &__content-left
        display: grid

        grid-column: 1 / -1
        grid-row: 2

        grid-template-columns: 405px 225px
        grid-template-rows: auto

    &__image
        display: grid

        grid-column: 1 / -1
        grid-row: 1

        object-fit: cover
        vertical-align: bottom

        width: 100%

    &__inner-content-left
        display: grid

        grid-column: 1
        grid-row: 1

        margin: 26px 0 0 25px

        grid-template-columns: 1fr
        grid-template-rows: 30px 6px 16px 25px 63px
        grid-row-gap: 0px
        grid-gap: 0

    &__text
        display: grid

        grid-column: 1
        grid-row: 3

        justify-content: flex-start
        align-content: center

    &__weather-box
        display: grid

        grid-column: 1
        grid-row: 5

        justify-content: flex-start
        align-content: flex-start

        grid-template-columns: auto
        grid-template-rows: auto

    &__weather-street
        grid-column: 1
        grid-row: 1

        padding-left: 80px

    &__weather-street::before
        position: absolute

        content: "+19"

        font-size: 36px
        color: #333333
        font-weight: 800

        padding: 10px 0 0 0

    &__weather-street_img::after
        position: relative

        padding-left: 26px
        padding-top: 26px

        background: url(/blocks/heading/images/cloud-drizzle.png) no-repeat center

        content: ""
        
        padding: 0 0 53px 45px

    &__weather-home
        grid-column: 1
        grid-row: 1
        
    &__weather-home::before
        position: absolute

        content: "+23"

        font-size: 36px
        color: #333333
        font-weight: 800

        padding: 10px 0 0 0

    // two enter (inner)
    &__scroll-boxes
        display: grid

        width: 216px

        grid-column: 2
        grid-row: 1

        overflow-y: scroll

    &__scroll-boxes-hidden-scroll-bar
        display: grid

        width: 232px

        overflow-x: hidden

    &__scrollWrap
        display: grid

        grid-template-columns: 200px
        grid-template-rows: auto
        
        grid-gap: 15px

    &__scrollCard
        display: grid

        height: 120px

    &__scrollCard:first-child
        margin-top: 25px

    &__scrollWrap:hover .heading__scrollCard::before
        opacity: 0
        transition-duration: 0.5s
        transition-timing-function: 1s

    &__scrollCard:nth-child(3)::before
        display: block

        position: absolute
        margin-top: 1px

        content: ""

        background: #F7F7F7 url("/blocks/heading/images/ M.svg") no-repeat center

        width: 200px
        height: 35px

        border-top-left-radius: 20px
        border-top-right-radius: 20px

    &__scrollCard:hover
        cursor: pointer

    //RIGHT CONTENT
    &__right-box
        display: grid

        grid-column: col2-rightBox
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 70px 330px

    &__title-right
        display: grid

        grid-column: 1
        grid-row: 1

        justify-content: flex-start
        align-content: center

    &__form-box
        display: grid

        grid-column: 2
        grid-row: 1

        justify-content: flex-end
        align-content: center
        
        padding-top: 2px
    
    &__image-arrow-right
        transform: scale(-1, 1)

        padding-right: 15px

    &__content-right
        display: grid

        grid-column: 1 / 3
        grid-row: 2

    &__favorite-box
        display: grid

        grid-template-columns: repeat(3, 200px)
        grid-template-rows: repeat(3, 100px)

        grid-gap: 15px

    &__favorite-card
        display: grid

    &__innerCard
        display: grid

        justify-content: flex-start

        letter-spacing: 0

    &__imageCard
        padding: 14px 0 0 14px

    &__titleCard
        padding: 0 14px 0 14px

    &__titleCard:last-child
        padding-bottom: 14px
    

    
        

    
            