@import "../sass/vars.sass";

.title
    color: $text

    font-family: $default-font
    font-weight: 800
    
    font-size: 18px

    line-height: 21px
    letter-spacing: 0
    
    &_inner
        font-size: 27px

    &_card
        font-size: 14px

        line-height: 16px

        text-align: left