.header {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 92px 1px;
  margin-bottom: 30px;
  color: #333333;
  font-family: "arial-bold-mt", sans-serif;
  font-weight: 800;
}

.header__menu {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  grid-template-columns: [item1 col-1-start] auto [gap1] 52px [item2 col-2-start] auto [gap2] 28px [item3 col-3-start] auto [gap3] 26px [item4 col-4-start] auto [gup4] auto;
  grid-template-rows: auto;
  grid-gap: 0px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px 0 39px;
}

.header__item1 {
  grid-column: item1;
  padding: 23px 0 30px 0;
}

.header__item2 {
  grid-column: item2;
}

.header__item3 {
  grid-column: item3;
}

.header__item4 {
  grid-column: item4;
}

.header__outline {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
}

.heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 26px;
  margin: 0 40px 0 39px;
}

.heading__left-box {
  display: grid;
  overflow: hidden;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 70px auto;
  min-width: 631px;
}

.heading__title {
  z-index: 20;
}

.heading__title_main {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
  align-content: center;
}

.heading__title_inner {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
  align-content: center;
}

.heading__content-left {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.heading__image {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

.heading__inner-content-left {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1;
  margin: 26px 0 0 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 6px 16px 25px 63px;
  grid-row-gap: 0px;
  grid-gap: 0;
}

.heading__text {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  justify-content: flex-start;
  align-content: center;
}

.heading__weather-box {
  display: grid;
  grid-column: 1;
  grid-row: 5;
  justify-content: flex-start;
  align-content: flex-start;
  grid-template-columns: 80px 150px;
  grid-template-rows: auto;
}

.heading__weather-street {
  grid-column: 2;
  grid-row: 1;
}

.heading__weather-street::before {
  position: absolute;
  content: "+23";
  font-size: 36px;
  color: #333333;
  font-weight: 800;
  top: 310px;
  left: 62px;
}

.heading__weather-street_img::after {
  position: relative;
  padding-left: 26px;
  padding-top: 26px;
  background: url(/blocks/heading/images/cloud-drizzle.png) no-repeat center;
  content: "";
  top: 45px;
  left: 7px;
}

.heading__weather-home {
  grid-column: 1;
  grid-row: 1;
}

.heading__weather-home::before {
  position: absolute;
  content: "+19";
  font-size: 36px;
  color: #333333;
  font-weight: 800;
  top: 310px;
  left: 142px;
}

.heading__scroll-boxes {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  margin: 26px 25px 0 25px;
  min-width: 236.5px;
}

.heading__scrollWrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr minmax(10%, 50px);
  grid-gap: 15px;
}

.heading__scrollCard {
  display: grid;
}

.heading__right-box {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
  min-width: 631px;
}

.heading__title-right {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
  align-content: center;
}

.heading__form-box {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  align-content: center;
}

.heading__image-arrow-right {
  transform: scale(-1, 1);
}

.heading__content-right {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2;
}

.heading__favorite-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.heading__favorite-card {
  display: grid;
}

.heading__inner-card {
  display: grid;
  justify-content: flex-start;
}

.heading__image-card {
  padding: 14px 0 0 14px;
}

.heading__title-card {
  padding: 0 14px 0 14px;
}

.heading__title-card:last-child {
  padding-bottom: 14px;
}

.card {
  background-color: #F7F7F7;
  border-radius: 20px;
  align-content: space-between;
}

.card_favorite-one {
  grid-column: 1;
  grid-row: 1;
}

.card_favorite-two {
  grid-column: 2;
  grid-row: 1;
}

.card_favorite-three {
  grid-column: 3;
  grid-row: 1;
}

.card_favorite-foure {
  grid-column: 1;
  grid-row: 2;
}

.card_favorite-five {
  grid-column: 2;
  grid-row: 2;
}

.card_scrollCard-one {
  grid-column: 1;
  grid-row: 1;
}

.card_scrollCard-two {
  grid-column: 1;
  grid-row: 2;
}

.card_scrollCard-three {
  grid-column: 1;
  grid-row: 3;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.text {
  color: #333;
  font-family: "arial-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.text_card-time {
  color: #858585;
  font-size: 12px;
}

.text_opacity {
  font-size: 14px;
  color: #858585;
}

.title {
  color: #333;
  font-family: "arial-bold-mt", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.title_inner {
  font-size: 27px;
}

.title_card {
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
}

.image-container_width {
  object-fit: cover;
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  outline: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}

@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "arial-bold-mt";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Arial-BoldMT/Arial-BoldMT.eot");
  src: url("../fonts/Arial-BoldMT/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-BoldMT/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT/Arial-BoldMT.ttf") format("truetype");
}

@font-face {
  font-family: "arial-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
}

::placeholder {
  color: #666;
}

::selection {
  background-color: orange;
  color: #fff;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "arial-bold-mt", sans-serif;
  overflow-x: hidden;
  color: #333;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.hidden {
  display: none !important;
}
