@import "../sass/vars.sass";
    
.sectionDevice
    display: grid

    grid-template-columns: [space-l] 1fr 1285px [space-r] 1fr
    grid-template-rows: 70px auto
    grid-template-areas: ". favorite ." "device device device"

    margin: 0 auto 6px auto

    justify-content: center

    //Row 1
    &__boxFavoriteDevice
        display: grid

        grid-area: favorite
        grid-template-columns: [col1-title] 207px [col2-list] auto [col3-form] 80px
        grid-gap: 13px

        margin-bottom: 10px

    &__boxFavoriteTitle
        display: grid

        grid-column: col1-title

        justify-content: flex-start
        align-content: center

        width: 208px

    &__radioGroup
        display: grid

        grid-column: col2-list
        grid-auto-flow: column
        grid-gap: 10px

        justify-content: flex-start
        align-content: center

    &__boxForm
        display: grid

        grid-column: col3-form

        justify-content: flex-end
        align-content: flex-end
    
    &__image-arrow-right
        transform: scale(-1, 1)

        padding-right: 15px

    //Row 2
    &__horizontal-group
        display: grid

        height: 136px
        width: 100vw

        grid-area: device
        grid-auto-flow: column
        grid-gap: 15px

        justify-content: flex-start

        overflow-x: scroll
        -ms-overflow-style: none
        overflow: -moz-hidden-unscrollable
    
    &__horizontal-group::-webkit-scrollbar
        width: 0
